<template>
    <div class="button_group__row">
        <div class="button_group__wrap">
            <Select />
            <ButtonExport @generatePDF="exportPdf"/>
        </div>
    </div>
</template>

<script setup lang="ts">
import Select from "./Select.vue";
import ButtonExport from './ButtonExport.vue'
import {defineEmits} from "vue";
const $emits = defineEmits(['generatePDF'])

function exportPdf() {
    $emits('generatePDF')
}
</script>

<style lang="scss">
.button_group {
    &__row {
        display: flex;
        justify-content: flex-end;
       
    }
    &__wrap{
            height: 80px;
            display: flex;
            align-items: center;
        }
}
</style>