<template>
    <button class="btn" @click="exportPdf" v-if="downloadButtonVisible">Export PDF</button>
</template>

<script setup lang="ts">
import {defineEmits, ref} from 'vue'

const $emits = defineEmits(['generatePDF'])
const downloadButtonVisible = ref(true)


function exportPdf() {
    $emits('generatePDF')
}
</script>

<style>


</style>