<template>
  <section class="mb-5">
    <h3 class="section-title" style="margin-left: 10px;">{{ $t('Work Experience') }}</h3>
    <ul class="timeline">
      <li v-for="(exp,index) in experinceInfo" :key="index" class="timeline-item rounded ml-3 p-4 shadow">
        <div class="timeline-arrow"></div>
        <p class="h5 bold">{{ exp.position }}</p>
        <p class="h6">{{ exp.workAt }}</p>
        <span style="font-style: italic;">{{ exp.duration }}</span>
        <p v-if="exp.description != null && exp.description != undefined" class="mt-2" v-html="exp.description"></p>

      </li>
    </ul>
  </section>
</template>

<script>
export default {
  props: {
    experinceInfo: {
      type: Object,
    }
  }
}
</script>

<style>

</style>
